html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background:#f2f1f1;

	font-size: 0.15rem;

    display: flex;
    flex-direction: column;
}
.header{
	background: #ff6b95;
	width: 100%;
	height: 0.50rem;
	font-size: 0.20rem;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
    display: none;
}
.main-view{
	margin:0.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.main-view .avatar{width: 0.90rem;height: 0.90rem;border-radius: 50%;background-color: white;display: flex;justify-content: center;align-items: center; margin-bottom: 0.20rem;}
.main-view .avatar img{width: 0.50rem;}
.main-view .label1{color: #4D4D4D; font-size: 0.14rem; margin-bottom: 0.20rem;line-height:0.20rem;}
.main-view .label2{color: #4D4D4D; font-size: 0.14rem;margin-bottom: 0.30rem; line-height:0.20rem;}
.main-view .item-view{width: 100%;}
.item-view .title{color: #4D4D4D; font-size: 0.15rem; font-weight: bold;}

/* 手机号，验证码 */
.phone-view{margin-top: 0.15rem;background: white;border: solid 0.005rem #C9C9C9;height: 0.40rem;border-radius: 0.03rem;margin-right: 0.15rem;display: flex;align-items: center;padding-right: 0.10rem;}
.country-code{height:100%; padding-left: 0.08rem; padding-right: 0.08rem;font-size: 0.16rem; color: #5b5b5b;border-right: solid 0.01rem #bfbfbf;display: flex;justify-content: space-around;align-items: center;}
.country-code img{width: 0.15rem; height:0.08rem; margin-left: 0.05rem;}
input.phone{flex: 1; height: 100%; border: none; padding-left: 0.10rem;}
.verify-view{margin-top: 0.15rem;background: white;border: solid 0.01rem #C9C9C9;height: 0.40rem;border-radius: 0.03rem;margin-right: 0.15rem;display: flex;align-items: center;padding-left: 0.10rem;padding-right: 0.10rem;}
input.verify{flex: 1; height: 100%;border: none;margin-right: 0.10rem;border-right: solid 0.01rem #bfbfbf;}
.verify-text{color: #2C9EF9;font-size: 0.14rem;}

/****国家代码*/
.country-options-view{position: fixed; top: 0;left: 0;width: 100%;height: 100%; background: white;z-index: 1000;/*overflow: auto;*/ display: none;}
.country-options-view img{margin-top: 0.10rem; margin-left: calc(100% - 0.40rem); width: 0.30rem; height: 0.30rem;}
.country-options{width: 100%; height:calc(100% - 0.50rem); overflow: auto;}
.country-option{height: 0.45rem;line-height: 0.45rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;cursor: pointer;font-size: 0.15rem;}
/*.country-option:hover{background-color: rgb(250, 80, 131);color: white;}*/
.country-option.select{background-color: rgb(250, 80, 131);color: white;}
.country-option .codeCty{width: 0.50rem;display: inline-block;padding-left: 0.10rem;}


.footer{
	background: #ff6b95;
	width: 100%;
	height: 0.50rem;
	font-size: 0.20rem;
	color: white;

	display: flex;
	justify-content: center;
    align-items: center;
}
