html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background:#f2f1f1;

	font-size: 0.15rem;
}
.header{
	background: #ff6b95;
	width: 100%;
	height: 0.50rem;
	font-size: 0.20rem;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
    display: none;
}
.main-view{
	margin: 10% 5%;
}
.main-view .create,
.main-view .join{
	width: 100%;
	height: 0.50rem;
	border-radius: 0.20rem;
	background: white;
	color: #ff6b95;
	margin-bottom: 10%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.main-view .my{
	width: 100%;
	height: 0.50rem;
	border-radius: 0.20rem;
	background: #ff6b95;
	color: white;
	margin-bottom: 10%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.wait-loading{
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.4);

    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    display: none;
}
.loading-img{
	position: absolute;
    top: 0.50rem;
    width: 70%;
    /*display: none;*/
    z-index: 100002;
    left: 15%;
}
.loading-span{
	/*position: absolute;
    z-index: 100002;
    color: white;
    width: 100%;
    text-align: center;
    display: none;*/

    position: fixed;
    z-index: 100002;
    color: white;
    width: 100%;
    text-align: center;
    top: 50%;
}
.idCode,
.inviteCode{
	width: 100%;
	height: 0.50rem;
	border-radius: 0.20rem;
	background: white;
	color: #ff6b95;
	margin-bottom: 10%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.idCode-shadow,
.inviteCode-shadow{
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    display: none;
}
.idCode-view,
.inviteCode-view{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-top: 0.50rem;
    /* display: none; */
    background: white;
    width: 80%;
    /*height: 150px;*/
    margin-left: 10%;
    margin-top: 40%;
    border-radius: 0.05rem;
   /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}
.inviteCode-view .username,
.inviteCode-view .password{
    width: 80%;
    margin-left: 10%;
    font-size: 0.18rem;
    margin-bottom: 10%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
}
.inviteCode-view .username .text,
.inviteCode-view .password .text{
    width: 0.80rem;
}
.inviteCode-view .password{
	margin-top: 0;
}
.idCode-view span,
.inviteCode-view span.title{
	display: inline-block;
	font-size: 0.18rem;
	margin-top: 0.15rem;
	margin-bottom: 0.15rem;
	width: 100%;
	text-align: center;
}
.idCode-view input,
.idCode-view textarea{
	width: 100%;
	text-align: center;
	border: none;
	font-size: 0.14rem;
	margin-bottom: 0.30rem;
	color: lightblue;
	/*width: 100%;
    text-align: center;*/
    /* font-size: 11px; */
    word-break:break-all;
    width: 90%;
    margin-left: 5%;
    font-size: 0.18rem;
}

.idCode-view .btn{
	display: inline-block;
    width: 50%;
    float: left;
    /*background: red;*/
    height: 0.40rem;
    line-height: 0.40rem;
    text-align: center;
    border-top: solid 0.01rem #e1e1e1;
}
.idCode-view .btn.cancel{
	/*border-right: solid 1px #e1e1e1;*/
	/*width: calc(50% - 1px);*/
	width: 100%;
}
.idCode-view .btn.copy{
	display: none;
}

.inviteCode-view .link{
    margin-bottom: 10%;
    display: inline-block;
    width: 80%;
    font-size: 0.16rem;
    margin-left: 10%;
}




