<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>活动</title>
		<link rel="icon" href="../../statics/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css?v=2.7" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/activity.css?v=2.7" />

        <!-- <link rel="stylesheet" type="text/css" href="../../cxyteam_forum/res/jquery-rebox-0.1.0.css"/>
        <link rel="stylesheet" type="text/css" href="../../cxyteam_forum/res/RongIMWidget.css"/>
        <link rel="stylesheet" type="text/css" href="../../cxyteam_forum/res/main.css"/> -->
	</head>

	<body>
        <div class="header-view">
            <div class="column-view">
                <div class="column activity-list" value=0>活动</div>
                <div class="column activity-join" value=1>参加的活动</div>
                <div class="column activity-push" value=2>发布的活动</div>
                <div class="column activity-create" value=3>创建活动</div>
            </div>
            <div class="search-view">
                <input class="key-word"></input>
                <div class="search-btn">搜索</div>
            </div>
        </div>

        <div class="list-view"></div>
        <script type="text/html" id="list-template">
    		{{each}}
				<li data-pk="{{$value.pk}}" data-title="{{$value.name}}" data-name="{{$value.leader.name}}">
					<div class="list-item">
						<div class="item-info">
							<div class="item-title">
                                <img class="title-icon" src='../../statics/images/left_icon.png' />
                                {{$value.name}}
                                <img class="title-icon" src='../../statics/images/right_icon.png' />
                            </div>
							<div class="item-content">通告：{{$value.introduction}}</div>
                            <div class="item-more">查看详情 ></div>
						</div>
                        <div class="item-footer">
                            <img class="item-head" src={{$value.leader.avatar}} alt="" style="display: inline;">
                            <div class="item-name">{{$value.leader.name}}</div>
                            <div class="item-num">已报名：{{$value.member_number}}</div>
                            {{if $value.isjoin == true}}
                                <div class="item-joined">已参加</div>
                            {{/if}}
                            {{if $value.isjoin == false}}
                                <div class="item-join">参加活动</div>
                            {{/if}}
						</div>
					</div>
                    <div class="verify">
                        <div class="password">
                            <input class="pw-input" placeholder="请输入密码" value="1"/>
                            <div class="pw-confirm">确定</div>
                        </div>
					</div>
				</li>
			{{/each}}
		</script>

        <div class="join-view"></div>
        <script type="text/html" id="join-template">
    		{{each}}
				<li data-pk="{{$value.pk}}" data-title="{{$value.name}}" data-name="{{$value.leader.name}}">
					<div class="list-item">
						<div class="item-info">
							<div class="item-title">
                                <img class="title-icon" src='../../statics/images/left_icon.png' />
                                {{$value.name}}
                                <img class="title-icon" src='../../statics/images/right_icon.png' />
                            </div>
							<div class="item-content">{{$value.introduction}}</div>
                            <div class="item-more">查看详情 ></div>
						</div>
                        <div class="item-footer">
                            <img class="item-head" src={{$value.leader.avatar}} alt="" style="display: inline;">
                            <div class="item-name">{{$value.leader.name}}</div>
                            <div class="item-num">已报名：{{$value.member_number}}</div>
                            <div class="item-joined">已参加</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>

        <div class="push-view"></div>
        <script type="text/html" id="push-template">
    		{{each}}
				<li data-pk="{{$value.pk}}" data-title="{{$value.name}}" data-name="{{$value.leader.name}}">
					<div class="list-item">
						<div class="item-info">
							<div class="item-title">
                                <img class="title-icon" src='../../statics/images/left_icon.png' />
                                {{$value.name}}
                                <img class="title-icon" src='../../statics/images/right_icon.png' />
                            </div>
							<div class="item-content">{{$value.introduction}}</div>
                            <div class="item-more">查看详情 ></div>
						</div>
                        <div class="item-footer">
                            <img class="item-head" src={{$value.leader.avatar}} alt="" style="display: inline;">
                            <div class="item-name">{{$value.leader.name}}</div>
                            <div class="item-num">已报名：{{$value.member_number}}</div>
                            <div class="item-joined">已参加</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>

        <div class="create-view">
            <div class="create-title">
                <p>标题</p>
                <input class="title-input"/>
            </div>
            <div class="create-pw">
                <p>密码</p>
                <input class="password-input"/>
            </div>
            <div class="create-content">
                <p>通告</p>
                <textarea class="content-input"></textarea>
            </div>
            <div class="create-btn">发布</div>
        </div>

        <div class="details-view">
            <div class="details-back"><</div>
            <div class="details-title"></div>
            <div class="details-edit">编辑</div>
            <div class="details-content"></div>
            <div class="details-member">
                <div class="details-name"></div>
                <div class="details-num"></div>
				<div class="join-chat" name="" pk="">加入群聊</div>
            </div>
            <div class="member-list"></div>
            <script type="text/html" id="member-template">
        		{{each}}
    				<li data-pk="{{$value.pk}}" data-owner="{{$value.owner.owner}}" data-name="{{$value.owner.name}}">
    					<div class="member-item">
                            <img class="member-head" src={{$value.owner.avatar}} alt="" style="display: inline;">
                            <div class="member-name">{{$value.owner.name}}</div>
    					</div>
                        <div class="member-cut">x</div>
    				</li>
    			{{/each}}
    		</script>
        </div>
        <!-- 融云 -->
        <!-- <div ng-app="demo" id="demo">
            <div  ng-controller="main" id="main-customer">
                <rong-widget id="rong-abcdefg"></rong-widget>
            </div>
        </div> -->
        <div class="rongBtn">
            <span>最近联系人</span>
            <div class="arrow"></div>
        </div>
        <div class="rongWai">
            <div class="left">
                <div class="leftTitle">
                    <span>最近联系人</span>
                    <div class="arrow"></div>
                </div>
                <!-- 联系人列表 -->
                <div class="contactList">
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户1</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户2</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户3</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户1</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户2</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户3</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户1</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户2</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户3</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户1</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户2</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户3</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户1</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户2</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户3</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户1</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户2</span>
                    </div>
                    <div class="contactOne">
                        <img src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0" style="width: 30px;height: 30px;border-radius: 30px">
                        <span>用户3</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="contacter">用户2</div>
                <!-- 消息框 -->
                <div class="message">
                    <div class="messageLeft">
                        <div class="time">15:06</div>
                        <div class="messageItem">
                            <img class="chatHeaderLeft" src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0">
                            <span>用户1</span>
                        </div>
                        <div class="messageLeftContent">消息1</div>
                    </div>
                    <div class="messageRight">
                        <div class="time">15:06</div>
                        <div class="messageRightItem">
                            <span>消息2</span>
                            <img class="chatHeaderRight" src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0">
                        </div>
                    </div>
                    <div class="messageLeft">
                        <div class="time">15:06</div>
                        <div class="messageItem">
                            <img class="chatHeaderLeft" src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0">
                            <span>用户1</span>
                        </div>
                        <div class="messageLeftContent">消息1</div>
                    </div>
                    <div class="messageRight">
                        <div class="time">15:06</div>
                        <div class="messageRightItem">
                            <span>消息2</span>
                            <img class="chatHeaderRight" src="http://wx.qlogo.cn/mmopen/Miayzv8oDnvAkFvJ5EyYKh6iaG4uXEIkna1YduZ48Ok66SU5ewJkK5gzqkdMJDHicGE8VJ1Qf8pcibAXPjtZUlRotxcSrEEszUbY/0">
                        </div>
                    </div>
                </div>
                <div class="sendMessage">
                    <textarea class="textarea" placeholder="请输入"></textarea>
                    <div class="send">发送</div>
                </div>
            </div>
        </div>
	</body>

	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>

    <!-- <script src="../../cxyteam_forum/res/angular-1.4.8.js"></script> -->
    <!-- 融云IMLib -->
    <script src="//cdn.ronghub.com/RongIMLib-2.2.5.min.js"></script>
    <script src="//cdn.ronghub.com/RongEmoji-2.2.5.min.js"></script>
    <!-- <script src="//cdn.ronghub.com/Libamr-2.2.5.min.js"></script>
    <script src="//cdn.ronghub.com/RongIMVoice-2.2.5.min.js"></script> -->

    <!-- 上传插件 -->
    <!-- <script type="text/javascript" src="../../cxyteam_forum/js/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="../../cxyteam_forum/js/qiniu/src/qiniu.js"></script> -->

    <!-- 增强体验插件 -->
    <!-- <script src="../../cxyteam_forum/res/jquery-rebox-0.1.0.js"></script> -->

    <!-- IM插件 -->
    <!-- <script src="../../cxyteam_forum/res/RongIMWidget.js"></script>
    <script src="../../cxyteam_forum/res/common.js"></script> -->

    <script type="text/javascript" src="../../libs/template.js"></script>
    <script type="text/javascript" src="../../libs/jqPaginator.min.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/activity.js");
	</script>
    <!-- <script src="../../cxyteam_forum/js/RongYun2.js"></script> -->
</html>
