<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>活动</title>
		<link rel="icon" href="../../statics/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css?v=2.7" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/activity.css?v=2.7" />
	</head>

	<body>
        <div class="header-view">
            <div class="column-view">
                <div class="column activity-list" value=0>活动</div>
                <div class="column activity-join" value=1>参加的活动</div>
                <div class="column activity-push" value=2>发布的活动</div>
            </div>
			<div class="column activity-create" value=3>创建活动</div>
            <div class="search-view">
                <input class="key-word"></input>
                <div class="search-btn">搜索</div>
            </div>
        </div>

        <div class="list-view"></div>
        <script type="text/html" id="list-template">
    		{{each}}
				<li data-pk="{{$value.pk}}" data-title="{{$value.name}}" data-name="{{$value.leader.name}}">
					<div class="list-item">
						<div class="item-info">
							<div class="item-title">
                                <img class="title-icon" src='../../statics/images/left_icon.png' />
                                {{$value.name}}
                                <img class="title-icon" src='../../statics/images/right_icon.png' />
                            </div>
							<div class="item-content">通告：{{$value.introduction}}</div>
                            <div class="item-more">查看详情 ></div>
						</div>
                        <div class="item-footer">
                            <img class="item-head" src={{$value.leader.avatar}} alt="" style="display: inline;">
                            <div class="item-name">{{$value.leader.name}}</div>
                            <div class="item-num">已报名：{{$value.member_number}}</div>
                            {{if $value.isjoin == true}}
                                <div class="item-joined">已参加</div>
                            {{/if}}
                            {{if $value.isjoin == false}}
                                <div class="item-join">参加活动</div>
                            {{/if}}
						</div>
					</div>
					<div class="verify">
						<div class="password">
							<p class="p1">如果发起人未公布参与密码</p>
							<p class="p2">请联系发起人获得密码</p>
							<input class="pw-input" placeholder="请输入密码" value="1"/>
							<div class="pw-confirm">确定</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>

        <div class="join-view"></div>
        <script type="text/html" id="join-template">
    		{{each}}
				<li data-pk="{{$value.pk}}" data-title="{{$value.name}}" data-name="{{$value.leader.name}}">
					<div class="list-item">
						<div class="item-info">
							<div class="item-title">
                                <img class="title-icon" src='../../statics/images/left_icon.png' />
                                {{$value.name}}
                                <img class="title-icon" src='../../statics/images/right_icon.png' />
                            </div>
							<div class="item-content">{{$value.introduction}}</div>
                            <div class="item-more">查看详情 ></div>
						</div>
                        <div class="item-footer">
                            <img class="item-head" src={{$value.leader.avatar}} alt="" style="display: inline;">
                            <div class="item-name">{{$value.leader.name}}</div>
                            <div class="item-num">已报名：{{$value.member_number}}</div>
                            <div class="item-joined">已参加</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>

        <div class="push-view"></div>
        <script type="text/html" id="push-template">
    		{{each}}
				<li data-pk="{{$value.pk}}" data-title="{{$value.name}}" data-name="{{$value.leader.name}}">
					<div class="list-item">
						<div class="item-info">
							<div class="item-title">
                                <img class="title-icon" src='../../statics/images/left_icon.png' />
                                {{$value.name}}
                                <img class="title-icon" src='../../statics/images/right_icon.png' />
                            </div>
							<div class="item-content">{{$value.introduction}}</div>
                            <div class="item-more">查看详情 ></div>
						</div>
                        <div class="item-footer">
                            <img class="item-head" src={{$value.leader.avatar}} alt="" style="display: inline;">
                            <div class="item-name">{{$value.leader.name}}</div>
                            <div class="item-num">已报名：{{$value.member_number}}</div>
                            <div class="item-joined">已参加</div>
						</div>
					</div>
				</li>
			{{/each}}
		</script>

        <div class="create-view">
            <div class="create-title">
                <p>标题</p>
                <input class="title-input"/>
            </div>
            <div class="create-pw">
                <p>密码</p>
                <input class="password-input" placeholder="密码（参加活动的人需要填对密码才能参加）"/>
            </div>
            <div class="create-content">
                <p>通告</p>
                <textarea class="content-input"></textarea>
            </div>
            <div class="create-btn">发布</div>
        </div>

        <div class="details-view">
            <div class="details-back"><</div>
            <div class="details-title"></div>
            <div class="details-edit">编辑</div>
            <div class="details-content"></div>
            <div class="details-member">
                <div class="details-name"></div>
                <div class="details-num"></div>
				<div class="join-chat" name="" pk="">加入群聊</div>
            </div>
            <div class="member-list"></div>
            <script type="text/html" id="member-template">
        		{{each}}
    				<li data-pk="{{$value.pk}}" data-owner="{{$value.owner.owner}}" data-name="{{$value.owner.name}}">
    					<div class="member-item">
                            <img class="member-head" src={{$value.owner.avatar}} alt="" style="display: inline;">
                            <div class="member-name">{{$value.owner.name}}</div>
    					</div>
                        <div class="member-cut">x</div>
    				</li>
    			{{/each}}
    		</script>
        </div>
        <!-- 融云 -->
        <div class="rongBtn">
            <span>最近联系人</span>
            <div class="arrow"></div>
            <div class="redPoint" style="width: 10px;height: 10px;background-color: red;border-radius: 10px;margin-left: 10px;display: none;"></div>
        </div>
        <div class="rongWai">
            <div class="left">
                <div class="leftTitle">
                    <span>最近联系人</span>
                    <div class="arrow"></div>
                </div>
                <!-- 联系人列表 -->
                <div class="contactList">
                </div>
                <script type="text/html" id="contactTemplate">
                    {{each}}
                    <div class="contactItem" data-id="{{$value[0]}}" data-type="{{$value[4]}}">
                        <img src="{{$value[2]}}" style="width: 30px;height: 30px;border-radius: 30px">
                        <span class="contactName" data-id="{{$value[1]}}">{{$value[1].substr(0,5)}}</span>
                        {{if $value[3] == 0}}
                            <span style="display: inline-block;width: 10px;height: 10px;background-color: red;border-radius: 10px;"></span>
                        {{/if}}
                    </div>
                    {{/each}}
                </script>
            </div>
            <div class="right">
                <div class="contacter" data-id="" data-type=""></div>
                <!-- 消息框 -->
                <div class="message">
                </div>
                <script type="text/html" id="messageTemplate">
                    {{each}}
                        {{if isMe($value.id)}}
                        <div class="messageRight">
                            {{if $value.isShowTime}}
                            <div class="time">{{formatTime($value.sentTime)}}</div>
                            {{/if}}
                            <div class="messageRightItem">
                                {{if $value.content.textMessage}}
                                    <span>{{decodeEmoji($value.content.textMessage)}}</span>
                                {{else if $value.content.imgMessage}}
                                    <img class="messageImg" style="max-width: 300px; max-height: 150px;" src="{{$value.content.imgMessage}}" alt="">
                                {{/if}}
                                <img class="chatHeaderRight" src="{{$value.avatar}}">
                            </div>
                        </div>
                        {{else}}
                        <div class="messageLeft">
                            {{if $value.isShowTime}}
                            <div class="time">{{formatTime($value.sentTime)}}</div>
                            {{/if}}
                            <div class="messageItem">
                                <img class="chatHeaderLeft" src="{{$value.avatar}}">
                                <span>{{$value.name}}</span>
                            </div>
                            {{if $value.content.textMessage}}
                                <div class="messageLeftContent">{{decodeEmoji($value.content.textMessage)}}</div>
                            {{else if $value.content.imgMessage}}
                                <div class="messageLeftContent"><img class="messageImg" style="max-width: 300px; max-height: 150px;" src="{{$value.content.imgMessage}}" alt=""></div>
                            {{/if}}
                        </div>
                        {{/if}}
                    {{/each}}
                </script>
                <div class="sendMessage">
                    <div id="container" style="height: 35px; display: flex; align-items: center;">
                        <img class="emoji" src="../../cxyteam_forum/images/emojiBtn.png">
                        <div class="allEmoji">
                        </div>
                        <img class="upload" id="upLoad" src="../../cxyteam_forum/images/imgBtn.png">
                    </div>
                    <textarea class="textarea" placeholder="请输入"></textarea>
                    <div class="send">发送</div>
                </div>
            </div>
        </div>
        <!-- 消息中放大的图片 -->
        <div class="bigImageWai" style="display: none; position: fixed; width: 100%; height: 100%; bottom: 0;left: 0; background-color: rgba(0, 0, 0, 0.6); align-items: center; justify-content: center;">
            <img class="bigImage" style="max-width: calc(100% - 20px);max-height: calc(100% - 20px);" src="">
        </div>
	</body>

	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>

    <!-- 融云IMLib -->
    <script src="//cdn.ronghub.com/RongIMLib-2.2.5.min.js"></script>
    <script src="//cdn.ronghub.com/RongEmoji-2.2.5.min.js"></script>
    <!-- <script src="//cdn.ronghub.com/Libamr-2.2.5.min.js"></script>
    <script src="//cdn.ronghub.com/RongIMVoice-2.2.5.min.js"></script> -->

    <!-- 上传插件 -->
    <script type="text/javascript" src="../../libs/upload/plupload/plupload.full.min.js"></script>
    <script type="text/javascript" src="../../libs/upload/qiniu/qiniu.min.js"></script>

    <script type="text/javascript" src="../../libs/template.js"></script>
    <script type="text/javascript" src="../../libs/jqPaginator.min.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/activity.js");
	</script>
</html>
