<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>课程列表</title>

		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/courseList.css" />
	</head>

	<body>
		<div class="courses">
            <!-- <div class="course">
                <h3>HTML5</h3>
                <img src="../../statics/images/course/c2.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>CSS</h3>
                <img src="../../statics/images/course/c4.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>JavaScript</h3>
                <img src="../../statics/images/course/c3.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>Python</h3>
                <img src="../../statics/images/course/c1.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>JavaScript</h3>
                <img src="../../statics/images/course/c3.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div> -->
        </div>

        <script type="text/html" id="courses-template">
        	{{each}}
	        	<div class="course{{if $value.open == true}} open{{else}} unopen{{/if}}" data-category="{{$value.pk}}" data-status="{{$value.learn_extent.status}}" data-course-index={{$value.learn_extent.last_lesson}}>
	        		{{if $value.learn_extent.status == "finish"}}
		                <img class="status" src="../../statics/images/course/icon1.png" />
		            {{else if $value.learn_extent.status == "processing"}}
		            	<img class="status" src="../../statics/images/course/icon2.png" />
		            {{else}}
		            {{/if}}
		            {{if $value.open == false}}
			            <div class="like{{if $value.like == true}} select-like{{else}} unselect-like{{/if}}" data-like-number={{$value.like_number}}>
			                {{if $value.like == true}}
				            	<img src="../../statics/images/zan-select.png">
				            	<span>{{$value.like_number}}</span>
				            {{else}}
				            	<img src="../../statics/images/zan-unselect-p.png">
				            	<span>想学习</span>
				            {{/if}}
			            </div>
		            {{/if}}
	                <h3>{{$value.name}}</h3>
	                <img src="{{$value.images}}" />
	                <span class="desc">简介:{{$value.content}}</span>
	            </div>
        	{{/each}}
        </script>
	</body>
	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	
	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/courseList.js");
	</script>

</html>

