<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>课程列表</title>

		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css?v=1.8" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/courseList.css?v=1.8" />
	</head>

	<body>
		<div class="courses">
            <!-- <div class="course">
                <h3>HTML5</h3>
                <img src="../../statics/images/course/c2.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>CSS</h3>
                <img src="../../statics/images/course/c4.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>JavaScript</h3>
                <img src="../../statics/images/course/c3.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>Python</h3>
                <img src="../../statics/images/course/c1.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div>
            <div class="course">
            	<h3>JavaScript</h3>
                <img src="../../statics/images/course/c3.png" />
                <span class="desc">简介:其主要的目标是将互联网语义化，一边更好地被人类和机器阅读。</span>
            </div> -->
        </div>

        <script type="text/html" id="courses-template">
        	{{each}}
	        	<div class="category-view">
	        		<div class="category">
	                    <i class="line"></i>
	                    <span class="title">{{$value.category}}</span>
	        		</div>
	        		<!-- <div class="cer">
	        			<span class="look-cer">查看证书</span>
	        		</div> -->
	        		<span class="desc">
	        		{{if $value.category=="Web 前端工程师"}}
		        		主要职责是利用各种 web 技术进行客户端产品（也就是浏览器）的开发。
	        		{{else if $value.category == "儿童编程"}}
		        		让7-14岁儿童能使用基本的编程工具编程，了解编程的基本概念，并能用Scratch进行创造。
	        		{{else if $value.category == "Web后端（服务器开发）"}}
		        		用于服务器，处理客户端发来的请求。比如存储数据，进行实时通信等。
	        		{{else if $value.category == "手机App开发"}}
	        			流行的手机App开发，可以在学成后直接开发手机App。
	        		{{else if $value.category == "人工智能开发"}}
		        		未来的世界以人工智能为基础。在这里我们探索人工智能如何开发。
		        	{{else if $value.category == "数据库"}}
		        		数据库（database）就是一个存放数据的仓库。
		        	{{else if $value.category == "C 语言系列"}}
		        		C语言是一门通用计算机编程语言，应用广泛。
		        	{{else if $value.category == "游戏开发"}}
			        	有关游戏开发的一系列教程
	        		{{/if}}
	        		</span>
	        	</div>

	        	<div class="category-courses">
	        		{{each $value.courses}}
		        	<div class="course{{if $value.isopen == true}} open{{else}} unopen{{/if}}" data-category="{{$value.pk}}" data-status="{{$value.learn_extent.status}}" data-course-index={{$value.learn_extent.last_lesson}} data-course-total={{$value.total_lesson}}>
		        		{{if $value.learn_extent.status == "finish"}}
			                <img class="status" src="../../statics/images/course/icon1.png" />
			            {{else if $value.learn_extent.status == "processing"}}
			            	<img class="status" src="../../statics/images/course/icon2.png" />
			            {{else}}
			            {{/if}}
			            {{if $value.isopen == false}}
			            	<img class="status" src="../../statics/images/course/icon3.png"/> 
				            <!-- <div class="like{{if $value.like == true}} select-like{{else}} unselect-like{{/if}}" data-like-number={{$value.like_number}}>
				                {{if $value.like == true}}
					            	<img src="../../statics/images/zan-select.png">
					            	<span>{{$value.like_number}}</span>
					            {{else}}
					            	<img src="../../statics/images/zan-unselect-p.png">
					            	<span>想学习</span>
					            {{/if}}
				            </div> -->
			            {{/if}}
		                <h3>{{$value.name}}</h3>
		                <div class="avatar">
		                	<img src="{{$value.images}}" />
		                </div>
		                <span class="desc">简介:{{$value.content}}</span>
		            </div>
	        	{{/each}}
	        	</div>
	        	
	        {{/each}}
        </script>
	</body>
	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	
	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/courseList.js?v=1.8");
	</script>

</html>

