<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>课程列表</title>

		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css?v=1.8" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/courseList.css?v=1.8" />
	</head>

	<body>
		<div class="header">
			<div class="search-course">
				<input placeholder="搜索课程"></input>
				<img class="search" src="../../statics/images/search.png"/>
			</div>
			<div class="back">
				<span>返回</span>
				<!-- <img src="../../statics/images/back.png"> -->
			</div>
		</div>
		

		<!-- 初始课程列表 -->
		<div class="courses">
            
        </div>
		<!-- 初始课程列表模板 -->
        <script type="text/html" id="courses-template">
        	{{each}}
	        	<div class="category-view">
	        		<div class="category">
	                    <i class="line"></i>
	                    <span class="title">{{$value.category}}</span>
	        		</div>
	        		<!-- <div class="cer">
	        			<span class="look-cer">查看证书</span>
	        		</div> -->
	        		<span class="desc">
	        		{{if $value.category=="Web 前端工程师"}}
		        		主要职责是利用各种 web 技术进行客户端产品（也就是浏览器）的开发。
	        		{{else if $value.category == "儿童编程"}}
		        		让7-14岁儿童能使用基本的编程工具编程，了解编程的基本概念，并能用Scratch进行创造。
	        		{{else if $value.category == "Web后端（服务器开发）"}}
		        		用于服务器，处理客户端发来的请求。比如存储数据，进行实时通信等。
	        		{{else if $value.category == "手机App开发"}}
	        			流行的手机App开发，可以在学成后直接开发手机App。
	        		{{else if $value.category == "人工智能开发"}}
		        		未来的世界以人工智能为基础。在这里我们探索人工智能如何开发。
		        	{{else if $value.category == "数据库"}}
		        		数据库（database）就是一个存放数据的仓库。
		        	{{else if $value.category == "C 语言系列"}}
		        		C语言是一门通用计算机编程语言，应用广泛。
		        	{{else if $value.category == "游戏开发"}}
			        	有关游戏开发的一系列教程
	        		{{/if}}
	        		</span>
	        	</div>

	        	<div class="category-courses">
	        		{{each $value.courses}}
		        	<div class="course{{if $value.isopen == true}} open{{else}} unopen{{/if}}" data-category="{{$value.pk}}" data-status="{{$value.learn_extent.status}}" data-course-index={{$value.learn_extent.last_lesson}} data-course-total={{$value.total_lesson}} data-course-isAdapt="{{if $value.iszishiying}}true{{else}}false{{/if}}">
		        		{{if $value.learn_extent.status == "finish"}}
			                <img class="status" src="../../statics/images/course/icon1.png" />
			            {{else if $value.learn_extent.status == "processing"}}
			            	<img class="status" src="../../statics/images/course/icon2.png" />
			            {{else}}
			            {{/if}}
			            {{if $value.isopen == false}}
			            	<img class="status" src="../../statics/images/course/icon3.png"/> 
				            <!-- <div class="like{{if $value.like == true}} select-like{{else}} unselect-like{{/if}}" data-like-number={{$value.like_number}}>
				                {{if $value.like == true}}
					            	<img src="../../statics/images/zan-select.png">
					            	<span>{{$value.like_number}}</span>
					            {{else}}
					            	<img src="../../statics/images/zan-unselect-p.png">
					            	<span>想学习</span>
					            {{/if}}
				            </div> -->
			            {{/if}}
		                <h3>{{$value.name}}</h3>
		                <div class="avatar">
		                	<img src="{{$value.images}}" />
		                </div>
		                <span class="desc">简介:{{$value.content}}</span>
		            </div>
	        	{{/each}}
	        	</div>
	        	
	        {{/each}}
        </script>

        <!-- 搜索课程结果列表 -->
        <div class="search-courses-list">
        	
        </div>
        <!-- 搜索课程结果列表模板 -->
        <script type="text/html" id="search-courses-list-template">
        	<div class="category-courses">
        		{{each}}
	        	<div class="course{{if $value.isopen == true}} open{{else}} unopen{{/if}}" data-category="{{$value.pk}}" data-status="{{$value.learn_extent.status}}" data-course-index={{$value.learn_extent.last_lesson}} data-course-total={{$value.total_lesson}}>
	        		{{if $value.learn_extent.status == "finish"}}
		                <img class="status" src="../../statics/images/course/icon1.png" />
		            {{else if $value.learn_extent.status == "processing"}}
		            	<img class="status" src="../../statics/images/course/icon2.png" />
		            {{else}}
		            {{/if}}
		            {{if $value.isopen == false}}
		            	<img class="status" src="../../statics/images/course/icon3.png"/> 
		            {{/if}}
	                <h3>{{$value.name}}</h3>
	                <div class="avatar">
	                	<img src="{{$value.images}}" />
	                </div>
	                <span class="desc">简介:{{$value.content}}</span>
	            </div>
        	{{/each}}
        	</div>
        </script>

        <!-- 课程详情/目录弹框 -->
		<div class="course-detail-catalogs-shadow-view">
			<div class="course-detail-catalogs-view">
				<div class="close ui-catalogs-view">
					<img src="../../statics/images/close-w.png"/>
				</div>

				<div class="tabs ui-catalogs-view">
					<div class="tab select course-detail">课程详情</div>
					<div class="tab unselect course-catalogs">课程目录</div>
				</div>
				<!-- 课程详情 -->
				<div class="course-detail-view ui-catalogs-view">
					<div class="top-view">
						<img class="avatar" src="https://static1.bcjiaoyu.com/c2.png">
						<h3>CSS 基础</h3>
						<div class="numbers">
							<div class="total-grow">
								<span class="text">总经验值:</span>
								<span class="number">1000</span>
							</div>
							<div class="total-zuan">
								<span class="text">总钻石数:</span>
								<span class="number">1000</span>
							</div>
						</div>
					</div>
					<div class="desc-view">
						<label>课程介绍:</label>
						<span>其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。其主要目的是将互联网语义化。</span></div>
					<!-- <div class="bottom-view">
						<span class="start">开始学习</span>
						<span class="restart">重新学习</span>
					</div> -->
				</div>
				<!-- 课程目录 -->
				<div class="course-catalogs-view ui-catalogs-view">
					<div class="catalogs">
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
						<span class="catalog">1.Css课程</span>
					</div>
				</div>

				<!-- 底部按钮 -->
				<div class="bottom-view ui-catalogs-view ui-border-bottom-radius">
					<span class="start">开始学习</span>
					<!-- <span class="restart">重新学习</span> -->
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	
	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/courseList.js?v=1.8");
	</script>

</html>

