<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<!-- <meta http-equiv="X-Frame-Options" content="SAMEORIGIN" /> -->
		<title>程序媛计划</title>
		<link rel="icon" href="../../statics/images/favicon.ico">
		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/editCourse.css" />
	</head>

	<body>
	<!-- 头部信息 -->
		<div class="header">
			<div class="left-view">
				<img class="logo1" style="height: 30px;" src="../../statics/images/logo2.png" />
				<div class="right-line"></div>
				<img class="logo2" style="height: 30px;" src="../../statics/images/logo1.png"/>
			</div>
		</div>
        <div>
        <audio paused controls id="audioView" width="100%" height="100%" style="display:none"></audio>
        <p id="upload-status" style="display: none;"></p>
        </div>
		
		<div class="header-tips">
			<div class="left-tips">
				<span class="tip1">小节</span>
				<span class="tip2">对话内容</span>
			</div>
			
			<span class="right-tips">生成的数据。编辑完成后，请将数据自行保存，发给公众号cxy-61审核。</span>
		</div>
		<div class="main-view">
			<div class="left-view">
				<!-- 课程节数区 -->
				<div class="lessons">
					<ul class="lesson-list">
						<!-- <li class="select lesson">
							<span>1</span>
							<img src="../../statics/images/editCourse/reduce.png">
						</li> -->
						
					</ul>
					<div class="add">
						<img class="lesson-add" src="../../statics/images/editCourse/add1.png" alt="">
					</div>
				</div>

				<!-- 课程节数输入框 -->
				<div class="lesson-input-view">
					<div class="lesson-input-header">
						<span class="type">课程节数</span>
						<img src="../../statics/images/close.png" style="cursor: pointer;">
					</div>
					<div class="lesson-input">
						<input type="text" placeholder="节数字(课程的最终的节下标必须要连续)" />
						<span class="lesson-submit">确认</span>
					</div>
				</div>

				<!-- 会话区 -->
				<div class="chat">
					<!-- 消息区 -->
					<div class="messages">
						
					</div>
					<!-- 按钮区 -->
					<div class="btns">
						<div class="actions" style="display: none;">
					
						</div>
						<div class="add" style="display: flex;justify-content: space-between;margin: 0 5px 5px;">
							<img class="left-add item" src="../../statics/images/editCourse/add1.png" alt="" style="width: 40px;height: 40px;margin-top: 30px;">
							<input type="button" id="export" value="导出" style="display: none;" />
							<span class="reset" style="width: 60px;height: 40px;margin-top: 30px;background: rgb(250, 80, 131);text-align: center;line-height: 40px;border-radius: 5px;color: white;cursor: pointer;">重置</span>
							<!-- <img class="right-add item" src="../../statics/images/editCourse/add1.png" alt="" style="width: 40px;height: 40px;margin-top: 30px;"> -->
						</div>
					</div>
					
					<!-- 类型选择 -->
					<ul class="message-types">
						<li class="photo-msg" data-tag="photo">图片</li>
						<li class="text-msg" data-tag="text">文本</li>
						<li class="link-text-msg" data-tag="link-text">链接文本</li>
						<li class="msg-action-text" data-tag="action">按钮文本</li>
					</ul>

					<!-- 声音的选择，本地音频/录制音频 -->
					<ul class="audio-types">
						<li class="audio-record-msg" data-tag="record">录制音频</li>
						<li class="audio-local-msg" data-tag="local">本地音频</li>
					</ul>

					<!-- 不同类型消息的输入 -->
					<div class="message-input-view">
						<div class="msg-header">
							<span class="type">文本</span>
							<img src="../../statics/images/close.png" style="cursor: pointer;">
						</div>

						<div class="input-view">
							<input type="text" placeholder="链接文本的链接地址" />
							<div id="audio-record-view">
								<div id="audio-record">
									<button id="audio-record-start">开始录制</button>
									<button id="audio-record-stop" disabled>停止录制</button>
								</div>
								

							</div>
							<pre id="log" style="font-size: 12px;text-align: left;max-height: 40px;overflow-y: auto;margin-bottom: 10px;display: none;"></pre>
							<div id="upload-container">
								<span id="uploadImg">上传图片</span>
								<span id="uploadAudio">上传音频</span>
							</div>
							<textarea placeholder="文本消息的内容"></textarea>
							<span class="input-submit">确认</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 练习区 -->
			<div class="right-view">
				<img src="../../statics/images/icon.png" alt="">
				<iframe class="jsonCourse" id="jsonCourse" name="jsonCourse" src="jsonCourse.html" frameborder="0"></iframe>
			</div>
		</div>
		
		<!-- 寻找帮助 -->
		<div class="find-help-shadow-view">
			<div class="find-help-view">
				<span>如需帮助，请使用学习论坛进行发帖，会有专人帮您解答。</span>
			</div>
		</div>
		
		
		<!-- 图片放大效果 -->
        <div class="imgmsg-shadow-view">
        	<div class="imgmsg">
        		<div class="imgdiv">
		        	<img src="" alt="" />
        		</div>
        	</div>
        </div>
		
		<!-- 第一种（带链接的题<文字+图片>） -->
		<script type="text/html" id="message-link-problem-template">
			<div class="message link{{if item.animate}} left-animation{{/if}}" data-link="{{item.link}}"> 
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
                <div class="msg-view-parent">
                    <div class="msg-view">
                        <div class="link-text"> 
                        	<div class="link-content-imgs">
                        		{{if item.message}}
	                        		<span class="link-content">{{item.message}}<br/></span>
	                        	{{/if}}
	                        	{{if item.imgs && item.imgs.length}}
                     			<div class="link-imgs">
                     				{{each item.imgs}}
                     				<img src="{{$value}}" alt="">
                     				{{/each}}
                     			</div>
                     			{{/if}}
                        	</div>
                 
                            <span style="color: rgb(84, 180,225);">www.code.com</span>
                        </div>
                        <img class="arrow" src="../../statics/images/arrow.png" alt="">
                    </div>
                </div>
            </div>
		</script>
		
		<!-- 第二种（选择题<题目：文字+图片，选项：文字+图片>） -->
		<script type="text/html" id="message-choice-problem-template">
			<div class="message text{{if item.animate}} left-animation{{/if}}"> 
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
                <div class="msg-view-parent">
                    <div class="msg-view">
                    	<div class="problem-options">
                    		<!-- 选择题的题目 -->
                    		<div class="problem-content-imgs">
                    			{{if item.message}}
	                        		<span class="problem-content">{{item.message}}</span> 
                        		{{/if}}
                        		{{if item.imgs && item.imgs.length}}
                        		<div class="problem-imgs">
                        			{{each item.imgs}}
                        			<img src="{{$value}}" alt="">
                        			{{/each}}
                        		</div>
                        		{{/if}}
                        	</div>
			
                        	<!-- 选择题下面的4个选项 -->
                        	<div class="options">
                        		{{each item.options}}
                        		<div class="option">
                            		<span class="order-letter">{{$value.content}}</span>
                            		<div class="option-content-imgs">
                            			{{if $value.message}}
	                            			<span class="option-content">{{$value.message}}</span> 
                            			{{/if}}
                            			{{if $value.imgs && $value.imgs.length}}
	                                		<div class="option-imgs">
	                                			{{each $value.imgs}}
		                             				<img src="{{$value}}" alt="">
	                                			{{/each}}
	                                		</div>
	                                	{{/if}}
                            		</div>
                        		</div>
                        		{{/each}}
                        	</div>
                    	</div>
              
                    </div>
                </div>
            </div>
		</script>

		<!-- 第三种（纯文本消息） -->
		<script type="text/html" id="message-text-template">
			<div class="message text" data-index="{{index}}"> 
                <!-- <img class="avatar reduce" src="../../statics/images/editCourse/reduce.png" /> -->
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg">
                <div class="msg-view-parent">
                    <div class="msg-view">
                        <span class="content">{{item.message}}</span> 
                    </div>
                    <div class="add-reduce-view">
                    	<img class="left-add" src="../../statics/images/editCourse/add1.png">
                    	<img class="reduce" src="../../statics/images/editCourse/reduce.png" />
                        <img class="audio" src="../../statics/images/audio.png"/>
                    </div>
                </div>
            </div>
		</script>

		<!-- 第四种(纯图片消息) -->
		<script type="text/html" id="message-img-template">
			<div class="message img" data-index="{{index}}">
	            <!-- <img class="avatar reduce" src="../../statics/images/editCourse/reduce.png" /> -->
	            <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg">
	            <div class="msg-view-parent">
	                <div class="msg-view">
	                    <img class="msg"src="{{item.img}}">
	                    
	                </div>
	                <div class="add-reduce-view">
                    	<img class="left-add" src="../../statics/images/editCourse/add1.png">
                    	<img class="reduce" src="../../statics/images/editCourse/reduce.png" />
                    </div>
	            </div>
	        </div>
		</script>

		<!-- 第五种(链接消息) -->
		<script type="text/html" id="message-link-template">
			<div class="message link" data-link="{{item.link}}" data-index="{{index}}"> 
				<!-- <img class="avatar reduce" src="../../statics/images/editCourse/reduce.png" /> -->
				<img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg">
				<div class="msg-view-parent">
					<div class="msg-view">
						<div class="link-text"> 
							<span class="link-content">{{item.message}}<br/></span>
							<span style="color: rgb(84, 180,225);">{{item.link}}</span>
						</div>
						<img class="arrow" src="../../statics/images/arrow.png" alt="">
						
					</div>
					<div class="add-reduce-view">
                    	<img class="left-add" src="../../statics/images/editCourse/add1.png">
                    	<img class="reduce" src="../../statics/images/editCourse/reduce.png" />
                    	<img class="audio" src="../../statics/images/audio.png"/>
                    </div>
				</div>
			</div>
		</script>

		<!-- 第六种（用户回复） -->
		<script type="text/html" id="answer-text-template">
			<div class="answer" data-index="{{index}}">
                <div class="msg-view">
                    <span class="content">{{item.action}}</span>
                </div>
                <!-- <img class="avatar reduce" src="../../statics/images/editCourse/reduce.png" /> -->
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg">
            </div>
		</script>
		
	</body>
	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../libs/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="../../libs/easyrtc/easyrtc.js"></script>
    <script type="text/javascript" src="../../libs/easyrtc/labs/easyrtc_recorder.js"></script>
    <script type="text/javascript" src="../../libs/easyrtc/labs/easyrtc_rates.js"></script>
    <script type="text/javascript" src="../../libs/audio_record.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	<!-- <script type="text/javascript" src="../../libs/upload/plupload/moxie.js"></script> -->
	<!-- <script type="text/javascript" src="../../libs/upload/plupload/moxie.min.js"></script> -->
	<!-- <script type="text/javascript" src="../../libs/upload/plupload/plupload.dev.js"></script> -->
	<script type="text/javascript" src="../../libs/upload/plupload/plupload.full.min.js"></script>
	<!-- <script type="text/javascript" src="../../libs/upload/qiniu/qiniu.js"></script> -->
	<script type="text/javascript" src="../../libs/upload/qiniu/qiniu.min.js"></script>
	<script type="text/javascript" src="../../libs/files/FileSaver.js"></script>

	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/editCourse.js?v=2.7");
	</script>

</html>

