<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<!-- <meta http-equiv="X-Frame-Options" content="SAMEORIGIN" /> -->
		<title>程序媛计划</title>
		<link rel="icon" href="../../statics/images/favicon.ico">
		<link type="text/css" rel="stylesheet" href="../../statics/css/common/common.css?v=2.7" />
		<link type="text/css" rel="stylesheet" href="../../statics/css/home/home.css?v=2.7" />
	</head>

	<body>
	<!-- 头部信息 -->
		<div class="header">
			<div class="left-view">
				<span class="msg" style="display: none;"><img src="../../statics/images/avatar.png"/>今天打卡了10次,太厉害了</span>
				<img class="logo1" style="height: 30px;" src="../../statics/images/logo2.png" />
				<div class="right-line"></div>
				<img class="logo2" style="height: 30px;" src="../../statics/images/logo1.png"/>
			</div>
			<span class="works center-view item">作品中心</span>
			<span class="luntan center-view item">学习论坛</span>
			<span class="activity center-view item">活动列表</span>
			<span class="mobile-app center-view item">手机 APP</span>
			<span class="code-online center-view item">在线编程</span>
			<span class="edit-course center-view item">创作课程</span>
			<div class="right-view">
				<!-- <span class="luntan item">学习论坛</span> -->
				<span class="msg" style="display: none;"><img src="../../statics/images/avatar.png"/>获取了2颗钻石</span>

				<!-- <div class="icon1">
					<img src="../../statics/images/icon1.png" alt="" />
					<span>x3</span>
				</div>
				<div class="icon2">
					<img src="../../statics/images/icon2.png" alt="" />
					<span>x236</span>
				</div> -->
				<div class="icon4 avatar">
					<img class="item" src="../../statics/images/avatar.png" alt="">
				</div>
				<div class="info-view">
					<div class="info">
						<span class="grade item">LV 青铜1</span>
						<span class="grade-value item">500/854</span>
					</div>
					<div class="progress item">
						<img src="../../statics/images/progress.png" alt="">
					</div>
				</div>

				<div class="icon3 zuan">
					<img class="item" src="../../statics/images/icon3.png" alt="" />
					<span class="item">x20</span>
				</div>

				<div class="quit item">退出</div>

				<div class="team-info">
					<div class="team">

					</div>
					<div class="teams-brand">

					</div>
				</div>
			</div>

			<!-- 手机 app -->
			<div class="qr-code-view">
				<img src="../../statics/images/qrcode.png">
				<span>为了方便您的学习，请下载手机 APP。</span>
			</div>

			<!-- 在线编程 -->
			<div class="code-online-editors">
				<img class="arrow" src="../../statics/images/arrow-d.png"/>
				<div class="editors">
					<span class="html editor">HTML/JavaScript</span>
					<span class="c editor">C语言</span>
					<span class="python editor">Python语言</span>
					<span class="java editor">Java语言</span>
				</div>
			</div>


		</div>
		<script type="text/html" id="team-template">
			<img class="arrow" src="../../statics/images/arrow-d.png"/>
			<div>我的团队</div>
			<div class="members">
				{{each group_member}}
				<div class="member">
					<span class="member-name">
						<img class="avatar" src="{{$value.owner.avatar}}"/>
						<span class="name">{{$value.owner.name}}</span>
					</span>
					<span class="gm">{{$value.owner.grade.current_name}}</span>
				</div>
				{{/each}}
			</div>
		</script>
		<script type="text/html" id="teams-brand-template">
			<div>团队排行</div>
			{{each}}
			<div class="team-brand">
				<span class="name">{{$index+1}}.{{$value.name}}</span>
				<span class="zn">
					<img class="zuan" src="../../statics/images/zuan-s.png">
					<span>x{{$value.diamond_amount}}</span>
				</span>
			</div>
			{{/each}}
		</script>

		<div class="main-view">
			<div class="left-view">
				<!-- 目录 -->
				<ul class="menu">
					<li class="readed kn">
						<img src="../../statics/images/radio-pink.png" alt="" />
						<span>编程一</span>
					</li>
					<li class="readed kn">
						<img src="../../statics/images/radio-pink.png" alt="" />
						<span>编程二</span>
					</li>
					<li class="readed kn">
						<img src="../../statics/images/radio-pink.png" alt="" />
						<span>编程三</span>
					</li>
					<li class="readed kn">
						<img src="../../statics/images/radio-pink.png" alt="" />
						<span>编程四</span>
					</li>
					<li class="reading kn">
						<img src="../../statics/images/radio-white.png" alt="" />
						<span>编程五</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程六</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程七</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程八</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程九</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程十</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程十一</span>
					</li>
					<li class="unread kn">
						<img src="../../statics/images/radio-gray.png" alt="" />
						<span>编程十二</span>
					</li>
				</ul>

				<ul class="courseProgress">
					<div class="courseProgressView">
						<img class="studyp" src="../../statics/images/pink-line.png" />
						<img class="unstudyp" src="../../statics/images/gray-line.png" />

					</div>

				</ul>
				<!-- 会话区 -->
				<div class="chat">
					<!-- 消息区 -->
					<div class="messages">

					</div>
					<!-- 按钮区 -->
					<div class="btns">
						<div class="actions">
							<!-- <span class="option unselect">A</span>
							<span class="option unselect">B</span>
							<span class="option unselect">C</span>
							<span class="btn-wx-auth exercise">ok</span> -->
						</div>
						<img class="help" src="../../statics/images/help2.png" alt="">
					</div>

					<!-- 悬浮帮助按钮 -->
					<div class="helps-view">
						<div class="change-course">更换课程</div>
						<div class="course-menu">当前课程目录</div>
						<div class="look-learn-result ui-bottom-line" style="display: none;">查看学习成果</div>
						<div class="fast-mode ui-bottom-line">快进模式</div>
						<div class="lock-phone">手机绑定</div>
						<div class="find-help">寻找帮助</div>
						<!-- <div class="activity-list">活动列表</div> -->
						<!-- <div class="zuan-ani">钻石动画</div> -->
						<!-- <div class="grow-ani">经验动画</div> -->
						<!-- <div class="up-grade-ani">升级动画</div> -->
						<!-- <div class="contact-us">联系我们</div> -->
						<img class="arrow" src="../../statics/images/arrow-w.png" />
					</div>

					<!-- 当前课程目录 -->
					<div class="course-menu-view">
						<ul class="course-menu-list">

						</ul>
						<script type="text/html" id="course-menu-list-template">
							{{each}}
								<li data-index={{$index}} class="catalog{{if $index!=0}} ui-border-top{{/if}}{{if $value.select}} select{{else}} unselect{{/if}}">{{$index+1}}.{{$value.title}}</li>
							{{/each}}
						</script>
						<img class="arrow" src="../../statics/images/arrow-w.png" />
					</div>


				</div>
			</div>
			<!-- 练习区 -->
			<div class="right-view">
				<img src="../../statics/images/icon.png" alt="">
				<div class="iframe-scroll codeEdit">
					<iframe class="codeEdit" id="codeEdit" name="codeEdit" src="codeEdit.html?v=2.5" frameborder="0"></iframe>
				</div>
				<div class="iframe-scroll courseList">
					<iframe class="courseList" id="courseList" name="courseList" src="courseList.html?v=2.5" frameborder="0"></iframe>
				</div>
				<div class="iframe-scroll codeCompile">
					<iframe class="codeCompile" id="codeCompile" name="codeCompile" src="codeCompile.html" frameborder="0"></iframe>
				</div>
				<!-- <div class="iframe-scroll activity">
					<iframe class="activity" id="activity" name="activity" src="activity.html" frameborder="0"></iframe>
				</div> -->
			</div>
		</div>

		<!-- 寻找帮助 -->
		<div class="find-help-shadow-view">
			<div class="find-help-view">
				<span>如需帮助，请使用学习论坛进行发帖，会有专人帮您解答。</span>
			</div>
		</div>
		<!-- 钻石效果 -->
        <div class="zuan-shadow-view">
      		<div class="img">
      			<img src="../../statics/images/zuan2.gif">
      		</div>
        </div>

        <!-- 升级效果 -->
        <div class="up-grade-shadow-view">
        	<div class="img">
        		<img src="../../statics/images/growup.gif" alt="">
        	</div>
        </div>

		<!-- 图片放大效果 -->
        <div class="imgmsg-shadow-view">
        	<div class="imgmsg">
        		<div class="imgdiv">
		        	<img src="" alt="" />
        		</div>
        	</div>
        </div>

		<!-- 代码运行之后弹出的新窗口 -->
		<!-- <div class="code-result-shadow-view">
			<div class="code-result">
				<div class="close">
					<img src="../../statics/images/close.png">
				</div>
				<div class="iframe-scroll">
					<iframe src="" frameborder="0"></iframe>
				</div>
			</div>
		</div> -->

		<!-- 打开消息中带链接地址的窗口 -->
		<div class="message-link-shadow-view">
			<div class="message-link">
				<div class="close">
					<img src="../../statics/images/close.png">
				</div>
				<div class="iframe-scroll">
					<iframe id="message-link-iframe" src="" frameborder="0"></iframe>
				</div>
			</div>
		</div>
		
		<!-- 在屏幕中间打开打开其他页面 -->
		<div class="third-site-shadow-view">
			<div class="third-site-view">
				<div class="close">
					<img src="../../statics/images/close.png">
				</div>
				<div class="iframe-scroll">
					<iframe id="third-site-iframe" src="" frameborder="0"></iframe>
				</div>
			</div>
		</div>

		<!-- 登录窗口 -->
		<div class="login-shadow-view">
			<div class="login-view">
				<div style="font-size: 30px;margin-bottom: 25px;color: white; display: none;">邀请码、密码请到战队中查询</div>
				<div class="close">
					<img style="display: none;" src="../../statics/images/close-w.png"/>
				</div>
				<div class="login-info">
					<div class="login-info-view">
						<div class="info"><span>邀请码请到微信公众号领取</span></div>
						<div class="wx-code">
							<img src="../../statics/images/code.png">
						</div>
					</div>

				</div>
				<div class="account-view">
					<div class="username">
						<span>邀请码</span>
						<input placeholder="邀请码" />
					</div>
					<div class="password">
						<span>密码</span>
						<input type="password" placeholder="密码" />
					</div>
					<span class="login">确定</span>
				</div>
			</div>
		</div>

		<!-- 全球各个国家电话代码 -->
		<script type="text/html" id="country-option-template">
			{{each}}
				<li class="country-option{{if $value.code==+86}} select{{/if}}" data-code="{{$value.code}}">
					<span class="codeCty">{{$value.code}}</span>
					<span class="country">{{$value.country}}</span>
				</li>
			{{/each}}
		</script>
		<!-- 手机号/邀请码登录 -->
		<div class="phone-invite-shadow-view">
			<div class="phone-invite-view">
				<div class="close ui-login-view">
					<img style="display: none;" src="../../statics/images/close-w.png"/>
				</div>

				<div class="tabs ui-login-view">
					<div class="tab unselect phone">手机号登录</div>
					<div class="tab select invite">邀请码登录</div>
				</div>
				<!-- 手机登录 -->
				<div class="account-view ui-login-view phone-account-view" data-tag="phone">
					<div class="username ui-login-input-view">
						<div class="code-country">
							<span>+86</span>
							<img src="../../statics/images/arrow_d1.png" style="width: 20px;">
						</div>
						<ul class="country-options">


						</ul>
						<input class="ui-login-input" placeholder="请输入手机号" />
					</div>
					<div class="password ui-login-input-view">
						<input class="ui-login-input" type="password" placeholder="请输入密码" />
					</div>
					<div class="tips">
						<span>已有邀请码用户，可以直接登陆，建议登陆后在问号里绑定手机，方便找回密码！</span>
					</div>
					<div class="login-btn">
						<span class="login">登录</span>
					</div>

					<div class="login-footer">
						<span class="go-reg">立即注册</span>
						<span class="login-footer-line">|</span>
						<span class="forgot-psd">忘记密码</span>
					</div>
				</div>
				<!-- 邀请码登录 -->
				<div class="account-view ui-login-view invite-account-view" data-tag="invite">
					<div class="username ui-login-input-view">
						<input class="ui-login-input" placeholder="请输入邀请码" />
					</div>
					<div class="password ui-login-input-view">
						<input class="ui-login-input" type="password" placeholder="请输入密码" />
					</div>
					<div class="login-btn">
						<span class="login">登录</span>
					</div>

				</div>

			</div>
		</div>
		<!-- 手机注册 -->
		<div class="phone-reg-shadow-view">
			<div class="phone-reg-view">
				<div class="close">
					<img src="../../statics/images/close-w.png"/>
				</div>

					<div class="phone-reg-account-view">
						<div class="view-tag">注册</div>
						<div class="phone">
							<div class="code-country">
								<span>+86</span>
								<img src="../../statics/images/arrow_d1.png" style="width: 20px;">
							</div>
							<ul class="country-options">

							</ul>
							<input placeholder=" 请输入手机号" />
						</div>
						<div class="verify-code">
							<input type="text" placeholder="请输入验证码" />
							<span class="get-code">获取验证码</span>
						</div>
						<div class="password">
							<input type="password" placeholder="请输入密码" />
						</div>
						<div class="reg-next-btn">
							<span class="reg-next">下一步</span>
						</div>
					</div>
			</div>
		</div>
		<!-- 选择头像 -->
		<div class="choose-avatar-shadow-view">
			<div class="choose-avatar-view">
				<div class="choose-avatar-view-s">
					<div class="close ui-choose-avatar-view">
						<img src="../../statics/images/close-w.png"/>
					</div>
					<div class="choose-avatar-account-view ui-choose-avatar-view">
						<div class="view-tag">注册</div>
						<div class="choose-avatar">
							<span class="text">选择头像</span>
							<img src="https://static1.bcjiaoyu.com/avatars/1.png">
						</div>
						<div class="nickname">
							<input placeholder="请输入昵称" />
						</div>

						<div class="reg-btn">
							<span class="reg">完成</span>
						</div>
					</div>

					<div class="avatars-view">
						<div class="avatars">
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/1.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/2.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/3.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/4.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/5.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/6.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/7.png">
							</div>
							<div class="avatar">
								<img src="https://static1.bcjiaoyu.com/avatars/8.png">
							</div>
						</div>
						<div class="submit-avatar">
							<span class="submit">确定</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 找回密码 -->
		<div class="find-password-shadow-view">
			<div class="find-password-view">
				<div class="close">
					<img src="../../statics/images/close-w.png"/>
				</div>
				<div class="find-password-account-view">
					<div class="view-tag">找回密码</div>
					<div class="phone">
						<div class="code-country">
							<span>+86</span>
							<img src="../../statics/images/arrow_d1.png" style="width: 20px;">
						</div>
						<ul class="country-options">

						</ul>
						<input placeholder=" 请输入手机号" />
					</div>
					<div class="verify-code">
						<input type="text" placeholder="请输入验证码" />
						<span class="get-code">获取验证码</span>
					</div>
					<div class="password">
						<input type="password" placeholder="请输入新密码" />
					</div>
					<div class="reset-psd-btn">
						<span class="reset-psd">确认修改密码</span>
					</div>
				</div>
			</div>
		</div>

		<!-- 绑定手机 -->
		<div class="phone-bind-shadow-view">
			<div class="phone-bind-view">
				<div class="close">
					<img src="../../statics/images/close-w.png"/>
				</div>

				<div class="phone-bind-account-view">
					<div class="view-tag">绑定手机</div>
					<div class="phone">
						<div class="code-country">
							<span>+86</span>
							<img src="../../statics/images/arrow_d1.png" style="width: 20px;">
						</div>
						<ul class="country-options">

						</ul>
						<input placeholder=" 请输入手机号" />
					</div>
					<div class="verify-code">
						<input type="text" placeholder="请输入验证码" />
						<span class="get-code">获取验证码</span>
					</div>
					<div class="password">
						<input type="password" placeholder="请设置密码" />
					</div>
					<div class="bind-btn">
						<span class="bind">立即绑定</span>
					</div>
				</div>
			</div>
		</div>

		<!-- 编译器选择 -->
		<div class="compile-shadow-view">
			<div class="compile-view">
				<div class="repl">repl 编译器</div>
				<div class="edit">程序媛编译器</div>
			</div>
		</div>

		<!-- 第一种（带链接的题<文字+图片>） -->
		<script type="text/html" id="message-link-problem-template">
			<div class="message link{{if animate}} left-animation{{/if}}" data-link="{{item.link}}"{{if item.tag}} data-tag="{{item.tag}}" data-msg="{{item.message}}"{{/if}}>
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
                <div class="msg-view-parent">
                    <div class="msg-view">
                        <div class="link-text">
                        	<div class="link-content-imgs">
                        		{{if item.message}}
	                        		<span class="link-content">{{TheMessage item.message}}<br/></span>
	                        	{{/if}}
	                        	{{if item.imgs && item.imgs.length}}
                     			<div class="link-imgs">
                     				{{each item.imgs}}
                     				<img class="lazy-img" data-src="{{$value}}" src="../../statics/images/default.png" alt="">
                     				{{/each}}
                     			</div>
                     			{{/if}}
                        	</div>

                            <span style="color: rgb(84, 180,225);">{{item.link}}</span>
                        </div>
                        <img class="arrow" src="../../statics/images/arrow.png" alt="">
                    </div>
                </div>
            </div>
		</script>

		<!-- 第二种（选择题<题目：文字+图片，选项：文字+图片>） -->
		<script type="text/html" id="message-choice-problem-template">
			<div class="message text{{if animate}} left-animation{{/if}}">
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
                <div class="msg-view-parent">
                    <div class="msg-view">
                    	<div class="problem-options">
                    		<!-- 选择题的题目 -->
                    		<div class="problem-content-imgs">
                    			{{if item.message}}
	                        		<span class="problem-content">{{TheMessage item.message}}</span>
                        		{{/if}}
                        		{{if item.imgs && item.imgs.length}}
                        		<div class="problem-imgs">
                        			{{each item.imgs}}
                        			<img class="lazy-img" data-src="{{$value}}" src="../../statics/images/default.png" alt="">
                        			{{/each}}
                        		</div>
                        		{{/if}}
                        	</div>

                        	<!-- 选择题下面的4个选项 -->
                        	<div class="options">
                        		{{each item.options}}
                        		<div class="option">
                            		<span class="order-letter">{{$value.content}}</span>
                            		<div class="option-content-imgs">
                            			{{if $value.message}}
	                            			<span class="option-content">{{TheMessage $value.message}}</span>
                            			{{/if}}
                            			{{if $value.imgs && $value.imgs.length}}
	                                		<div class="option-imgs">
	                                			{{each $value.imgs}}
		                             				<img class="lazy-img" data-src="{{$value}}" src="../../statics/images/default.png" alt="">
	                                			{{/each}}
	                                		</div>
	                                	{{/if}}
                            		</div>
                        		</div>
                        		{{/each}}
                        	</div>
                    	</div>

                    </div>
                </div>
            </div>
		</script>

		<!-- 第三种（纯文本消息） -->
		<script type="text/html" id="message-text-template">
			<div class="message text{{if animate}} left-animation{{/if}}">
                <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
                <div class="msg-view-parent"{{if item.audio}} data-audio-url="{{item.audio}}"{{/if}}>
                    <div class="msg-view">
                        <span class="content">{{TheMessage item.message}}</span>
                    </div>
                    {{if item.audio}}
		                <img class="audio" src="../../statics/images/audio.png"/>
	                {{/if}}
                </div>
            </div>
		</script>

		<!-- 第四种(纯图片消息) -->
		<script type="text/html" id="message-img-template">
			<div class="message img">
	            <img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
	            <div class="msg-view-parent">
	                <div class="msg-view">
	                    <img class="msg" id="{{imgI}}" src="{{item.img}}" alt="">
	                    <div class="pre-msg"><img src="../../statics/images/loading.gif"/></div>
	                </div>
	            </div>
	        </div>
		</script>

		<!-- 第五种(链接消息) -->
		<script type="text/html" id="message-link-template">
			<div class="message link{{if animate}} left-animation{{/if}}" data-link="{{item.link}}">
				<img class="avatar" src="https://static1.bcjiaoyu.com/binshu.jpg" />
				<div class="msg-view-parent"{{if item.audio}} data-audio-url="{{item.audio}}"{{/if}}>
					<div class="msg-view">
						<div class="link-text">
							<span class="link-content">{{TheMessage item.message}}<br/></span>
							<span style="color: rgb(84, 180,225);">{{linkText}}</span>
						</div>
						<img class="arrow" src="../../statics/images/arrow.png" alt="">
					</div>
					{{if item.audio}}
						<img class="audio" src="../../statics/images/audio.png"/>
					{{/if}}
				</div>
			</div>
		</script>

	</body>
	<script type="text/javascript" src="../../libs/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../libs/sea.js"></script>
	<script type="text/javascript" src="../../libs/jquery.imageloader.js"></script>
	<script>
		var base = location.href.split("/app/")[0];
		seajs.config({
				paths: {
					"home": base + "/modules/home",
					"libs": base + "/libs",
					"common": base + "/modules/common"
				},
				alias: {
					"template": "libs/template.js",
					"common": "common/common.js"
				}
			})
			// 加载入口模块
		seajs.use("home/home.js?v=2.7");
	</script>

</html>
