.one_header {
	background-image: url("../propsImage/1.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.two_header {
	background-image: url("../propsImage/2.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.three_header {
	background-image: url("../propsImage/3.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.four_header {
	background-image: url("../propsImage/4.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.five_header {
	background-image: url("../propsImage/5.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.six_header {
	background-image: url("../propsImage/6.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.seven_header {
	background-image: url("../propsImage/7.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.eight_header {
	background-image: url("../propsImage/8.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nine_header {
	background-image: url("../propsImage/9.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.ten_header {
	background-image: url("../propsImage/10.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.eleven_header {
	background-image: url("../propsImage/11.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.twelve_header {
	background-image: url("../propsImage/12.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.thirteen_header {
	background-image: url("../propsImage/13.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.fourteen_header {
	background-image: url("../propsImage/14.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.blue_bg {
	background-color: #f1f2ff;
}
.green_bg {
	background-color: #f6ffec;
}
.pink_bg {
	background-color: #fff0f4;
}
.yellow_bg {
	background-color: #fff9ea;
}