html,
body {
    height: 100%;
    background-color: #FFEFF4;
}
.top {
    position: relative;
    width: 90%;
    height: 50%;
    background: #fff;
    margin-left: 5%;
    margin-top: 20%;
}
.head {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    top: -35px;
    left: calc(50% - 35px);
}
.name {
    display: block;
    padding-top: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    /* color: #fff; */
    font-size: 15px;
    line-height: 30px;
    margin-top: 5px;
}
.center {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}
.bonus,
.diamond {
    color: #FF6B93;
    text-align: right;
    flex: 7;
    font-size: 36px;
    line-height: 72px;
}
.unit {
    color: #FF6B93;
    flex: 6;
    font-size: 16px;
    /* line-height: 73px; */
    margin-top: 30px;
}
.right {
    width: 50%;
    margin: 5% 5% 5% 0;
}
.left {
    width: 50%;
    margin: 5% 0% 5% 5%;
    border-right: 1px solid #ccc;
}
.bottom {
    position: relative;
    display: flex;
    width: 90%;
    height: 20%;
    background: #FF6B93;
    margin-left: 5%;
}
.info {
    flex: 1;
    height: 100px;
}
.qrcode {
    width: 100px;
    height: 100px;
}