body {
    position: relative;
    background: #fff;
}
.title-view {
    display: flex;
    padding: 0 20px;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
}
.forum-status {
    width: 70px;
    font-size: 18px;
}
.forum-title {
    width: calc(100% - 70px);
    font-size: 18px;
    line-height: 27px;
    margin-top: 9px;
}
.userinfo {
    display: flex;
    width: 100%;
    background: #F2F2F2;
}
.reply-userinfo {
    display: flex;
    width: 100%;
    background: #fff;
}
.left-view {
    width: 90px;
    height: 100px;
}
.head {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 20px;
    background: red;
}
.grade {
    width: 90px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}
.right-view {
    width: calc(100% - 100px);
    height: 100px;
    margin-left: 10px;
}
.name {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.time {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.type {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
}
.forum-content {
    margin: 0 !important;
    padding: 20px;
    word-break: break-all;
}
.forum-reply {
    background: #f2f3f4;
    padding: 10px 20px;
    line-height: 14px;
}
.reply-item {
    border: 1px solid red;
}
