::-webkit-scrollbar {
    width: 0em;
}
::-webkit-scrollbar:horizontal {
    height: 0em;
}
html {
    height:100%;
}
body {
    position: relative;
    background: #fff;
    height:100%;
    overflow:hidden;
    overflow:scroll;
}
.share-nav {
    align-self: center;
    width: 100%;
    height: 40px;
    background-color: rgb(250, 80, 131);
    color: #fff !important;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    z-index: 100;
}
.content-detail {
    margin-top: 40px;
    padding-bottom: 61px;
}
.layui-fixbar li {
    margin-bottom: 63px !important;
}
.title-view {
    display: flex;
    padding: 0 20px;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
}
.forum-status {
    width: 70px;
    font-size: 18px;
}
.forum-title {
    width: calc(100% - 70px);
    font-size: 18px;
    line-height: 27px;
    margin-top: 9px;
}
.userinfo {
    display: flex;
    width: 100%;
    background: #F2F2F2;
}
.reply-userinfo {
    display: flex;
    width: 100%;
    background: #fff;
}
.left-view {
    width: 100px;
    height: 100px;
}
.reply-left-view {
    width: 100px;
    height: 80px;
}
.head {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin-top: 9px;
    margin-left: 9px;
    background: #ccc;
}
.head-bg {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    background-size: cover;
}
.reply-head {
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    margin-top: 7.5px;
    margin-left: 7.5px;
    background: #ccc;
}
.reply-head-bg {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 27.5px;
    background-size: cover;
}
.grade {
    width: 100px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
    color: rgb(250, 80, 131);
}
.reply-grade {
    width: 100px;
    /*margin-top: 5px;*/
    font-size: 12px;
    text-align: center;
    color: rgb(250, 80, 131);
}
.right-view {
    width: calc(100% - 100px);
    height: 100px;
    /*margin-left: 10px;*/
}
.reply-right-view {
    width: calc(100% - 100px);
    height: 80px;
    /*margin-left: 10px;*/
}
.name {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: gray;
}
.reply-name {
    max-width: calc(100% - 180px);
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: blue;
}
.time {
    /*width: 100%;*/
    width: calc(100% - 60px);
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    color: gray;
}
.reply-time {
    margin-left: 10px;
    width: 130px;
    color: gray;
    font-size: 13px;
    line-height: 26px;
}
.type {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
    color: red;
}
.forum-content {
    margin: 0 !important;
    padding: 20px;
    word-break: break-all;
}
.forum-reply {
    background: #f2f3f4;
    padding: 10px 20px;
    line-height: 14px;
}
.reply-item {
    padding: 0 !important;
    /*border-top: 1px solid gray;*/
    border-bottom: 1px solid #ccc;
}
.reply-forum-content {
    margin: 0 !important;
    padding: 10px 20px;
    word-break: break-all;
    min-height: 0px !important;
    font-size: 14px !important;
}
.reply-content {
    padding: 5px 20px;
}
.reply-more li {
    /*padding: 10px 20px;*/
    padding: 10px 0px 0 20px;
    background: #f2f3f4;
    border-bottom: 1px solid #ccc;
}
.reply-more-content {
    margin-top: 10px;
    font-size: 14px;
}
.share-footer {
    width: 100%;
    height: 62px;
    background-color: #52A3F8;
    position: fixed;
    bottom: 0;
    display: flex;
}
.download {
    width: 70px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 16px;
    position: absolute;
    right: 20px;
    text-align: center;
    line-height: 30px;
    color: #52A3F8;
}
