*{
    font-family: monospace;
}
html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background:rgb(78, 79, 80);
}
.edits{
	width: 95%;
	height: 50%;

	display: inline-flex;
	justify-content: space-between;

	margin-left: 2.5%;
	margin-right: 2.5%;

    font-size: 16px;

    height: 90%;
    height: calc(100% - 45px);
    flex-direction: column;
}
.edits .html-edit{
	height: 98%;
	background: rgb(55, 56, 57);
    width: 100%;
    height: 50%;
}
.edits .compile-result{
    height: 98%;
    background: rgb(55, 56, 57);
    width: calc(50% - 10px);
    color: white;
    width: 100%;
    height: 50%;
}
.edits .html-edit .header-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: solid 1px rgb(85, 86, 87);
    color: white;
    height: 40px;
}
.edits .html-edit .header-tag .insert-pun{
    background: rgb(78, 79, 80);
    border-radius: 5px;
    padding: 5px 8px;
}
.edits .html-edit .tag{
	/*display: inline-block;
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px rgb(85, 86, 87);
	color: white;
	width: 95%;
	padding-left: 5%;*/
}
.edits .compile-result .tag{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px rgb(85, 86, 87);
    color: white;
    width: 95%;
    padding-left: 5%;
}
.edits .compile-result .content{
    background: #272822;
    padding: 10px;
    width: calc(100% - 20px);
    display: inline-block;
    overflow: auto;
    height: calc(100% - 51px);
}
.edits .html-edit .edit{
	width: 94%;
    height: none;
    border: none;
    background: transparent;
    padding: 3%;
    height: 70%;
    overflow: auto;
    height: calc(94% - 40px);
    color: white;
    line-height: 1.5em;
}

.edits .run{
	background: rgb(78, 79, 80);
}
.result{
	width: 100%;
	height: 50%;
	background: rgb(55, 56, 57);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    height: 45px;
}
.result .run,
.result .close{
    background: rgb(78, 79, 80);
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    margin-left: 1%;
    border-radius: 5px;
    letter-spacing: 4px;
    margin-top: 1%;
    display: inline-block;

    margin-top: 0;
    cursor: pointer;
}
.result .run-result{
    height: calc(92% - 45px);
    border: solid 1px rgb(78, 79, 80);
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;

    display: none;
}

.punctuation-view{
    position: fixed;
    /*bottom: 50px;*/
    background: white;
    width: 70%;
    /* align-items: center; */
    /*justify-content: center;
    display: flex;*/
    z-index: 1000;
    /*flex-wrap: wrap;*/
    display: none;
}
.punctuation-view .close{
    height: 35px;
    background: #ddd;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.punctuation-view .close img{
    position: absolute;
    right: 10px;

    width: 15px;
    height: 15px;
    top: 10px;
}
.punctuations{
    justify-content: center;
    display: flex;
    z-index: 1000;
    flex-wrap: wrap;
    overflow: auto;
    height: 200px;
}
.punctuations span{
    padding: 10px;
    background: white;
    display: inline-block;
    margin: 10px;

    background: rgb(250, 80, 131); */
    color: white; 
    font-size: 17px;
}




