html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
    background: rgb(229, 230, 231);
}
.courses{
    width: 100%;
    /*height: 100%;*/
    /*background: rgb(229, 230, 231);*/
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    padding-left: 2%;
    padding-left: 4%;
    width: 96%;
    padding-top: 1%;
    /*min-height: 100%;*/
}
.course{
	width: calc(92% / 4);
    /*background: white;*/
    margin-right: 2%;
    margin-bottom: 2%;

    display: inline-flex;
    align-items: center;
    flex-direction: column;
    /*height: 150px;*/
    padding: 10px;
    width: calc(92% / 4 - 20px);
    margin-right: 4%;
    margin-bottom: 4%;
    width: calc(84% / 4 - 20px - 2px);
    height: 154px;
    border:solid 1px #d2d2d2;

    position: relative;
}
.course{
    cursor: pointer;  
    transition: all 0.6s;
}
.course:hover{
    transform: scale(1.2); 
}
.course.open{
    background: white;
    color: black;
}
.course.unopen{
    background: #e1e1e1;
    color: #7e7e7e;
}
.course.select{
    background: #6bcdff;
    color: white;
}
.course .status{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.course .like{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(250, 80, 131);
}
.course .like img{
    height: 20px;
    margin-bottom: 5px;
}
.course h3{
	font-size: 15px;
    margin-bottom: 10px;
    height: 20px;
    line-height: 20px;
}
.course img.avatar{
	height: 60px;
	margin-bottom: 10px;
}
.course .desc{
   height: 50px;

   /*display: -webkit-box;
   display: -moz-box;*/
   overflow: hidden;
   text-overflow: ellipsis;
   /*word-break: break-all;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;*/
   text-align: justify;
   width: 100%;
}

/*课程分类*/
.category-view{
    padding-right: 8%;
    padding-left: 4%;
    margin-bottom: 2%;
    /*margin-top: 1%;*/
}
.category-view .desc{
    color: #a6a6a6;
    line-height: 25px;
    font-size: 12px;
}
/* 课程分类分割线*/
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.category .line{
    width: 90%;
    background-image: url(../../images/line.png);
    background-size: 100%;
    background-position: center;
    height: 1px;

    position:absolute;
    left: 5%;
    top: 19.5px;
}
.category .title{
    /*position: absolute;*/
    padding-left: 10px;
    padding-right: 10px;
    background: red;
    background: rgb(229, 230, 231);

    z-index: 10000;
}



