html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-color:#f2f1f1;

	font-size: 0.15rem;
    position: relative;
    min-height:100%;
}
.header{
	background: #ff6b95;
	width: 100%;
	height: 0.50rem;
	font-size: 0.20rem;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}
.main-view{
	margin:3% 0;
	color: #585858;
}
.main-view .menu{
	background: white;
    border-top: solid 0.01rem rgb(223, 224, 225);
    border-bottom: solid 0.01rem rgb(223, 224, 225);
}
.main-view .menu .avatar{
	height: 0.60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.10rem;
    padding-right: 0.10rem;
	border-bottom: solid 0.01rem rgb(223, 224, 225);
    display: none;
}
.main-view .menu .avatar .select{
    background: rgb(191, 192, 193);
    border-radius: 50%;
    font-size: 0.12rem;
    height: 0.50rem;
    width: 0.50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(102, 103, 105);
}
.main-view .menu .name{
	height: 0.50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.10rem;
    padding-right: 0.10rem;
    border-bottom: solid 0.01rem rgb(223, 224, 225);
}
.main-view .menu .name input{
	line-height: 0.30rem;
    display: flex;
    border: none;
    font-size: 0.13rem;
    color: #787878;
    width: 60%;
}
.main-view .menu .intro{
	display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 0.10rem;
    padding-right: 0.10rem;
    /*border-bottom: solid 0.01rem rgb(223, 224, 225);*/
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
}
.main-view .menu .intro textarea{
	border: none;
    height: 0.90rem;
    font-size: 0.13rem;
    width: 60%;
    color: #787878;
}

.create{
	width: 90%;
    height: 0.45rem;
    border-radius: 0.15rem;
    background: #ff6b95;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    margin-left: 5%;
    position: fixed;
    display: block;
    text-align: center;
    line-height: 0.45rem;
    bottom: 0.20rem;
    margin-top: 20%;
}


