html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background:white;
}
/*顶部状态*/
.header{
	background: rgb(250, 80, 131);
	height: 40px;
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

}
.header .left-view{
	display: flex;
	flex: 1;
}
.header .left-view>span{
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 20px;
	margin-left: 30%;
}
.header .right-view{
	display: flex;
	flex: 1;
	flex-direction: row;
}
.header .right-view>span{
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 20px;
	margin-right: 5%;
}
.header .right-view .icon1,
.header .right-view .icon2,
.header .right-view .icon3{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 6%
}

.header .right-view .icon1>img,
.header .right-view .icon2>img,
.header .right-view .icon3>img{
	height: 15px;
	margin-right: 5px;
}

/*主要界面*/
.main-view{
	display: flex;
	flex-direction: row;

	margin:1% 2%;
	height: 100%;
	/*background-color: red;*/
}
.main-view .left-view{
	width: 40%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*background-color: blue;*/

    width: 30%;
}
.main-view .left-view ul{
	width: 30%;
	height: 100%;
	background-color: rgb(229, 230, 231);
	border: solid 1px rgb(205, 206, 207);
	border-radius: 5px;

	overflow: auto;
    display: none;
}
.main-view .left-view ul li{
	width: 60%;
	/*height: 40px;*/
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.main-view .left-view ul li.readed{
	color: rgb(250, 80, 131);
}
.main-view .left-view ul li.reading{
	color: white;
	background-color: rgb(250, 80, 131);
	border-radius: 20px;
}
.main-view .left-view ul li.unread{
	color: rgb(135,136,137);
}
.main-view .left-view ul li img{
	margin-right: 10px;
	width: 15px;
}

/*会话*/
.main-view .left-view .chat{
	width: 66%;
	height: 100%;
	margin-right: 2%;
	background-color: rgb(229, 230, 231);
	border: solid 1px rgb(205, 206, 207);
	border-radius: 5px;

    display: inline-flex;
    justify-content: center;

    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    width: 100%;

}
.main-view .left-view .chat .messages{
	overflow: auto;
	padding-bottom: 70px;
	width: 100%;
	/*height: 80%;*/
    
    padding-bottom: 0;
    /*background: red;*/
    height: calc(100% - 100px);
}
.main-view .left-view .chat .messages .loading-chat{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    overflow: hidden;
    align-items: center;
    /* justify-content: center; */
    background: white;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    height: 30px;
    width: 60px;
    justify-content: center;
}
.main-view .left-view .chat .messages .loading-chat img{
	height: 15px;
}
.main-view .left-view .chat .message.text,
.main-view .left-view .chat .message.img,
.main-view .left-view .chat .message.link{
	display: inline-flex;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px;
	overflow: hidden;

	align-items: center;  
    justify-content: flex-start;
    width: calc(100% - 30px);
}
.main-view .left-view .chat .message.img{
    height: 100px;
}
.main-view .left-view .chat .message.img img{
    width: 50%;
}
.main-view .left-view .chat .message.link{
	margin-right: 15px;
}
.main-view .left-view .chat .message.text .content,
.main-view .left-view .chat .message .link-text{
	background-color: white;
	padding: 10px 15px;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	line-height: 1.5em;
	color: rgb(58, 59, 60);
	/*font-family: serif;*/
}
.main-view .left-view .chat .message .arrow{
	height: 15px;
	margin-left: 15px;
}
.main-view .left-view .chat .answer{
	display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 30px);
}
.main-view .left-view .chat .answer .content{
	background-color: #f0f0f0;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 1.5em;
    color: rgb(58, 59, 60);
    color: gray;
    border-radius: 5px 5px 0 5px;
}
.main-view .left-view .chat .btn-wx-auth{
	/*background: rgb(250, 80, 131);
	color: white;

	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	padding-left: 15px;
	padding-right: 15px;

	position: fixed;
	bottom: 20px;

    bottom: 70px;
    margin-left: 8%;

    margin-left: 11.5%;*/
}
.main-view .left-view .chat .help{	
	/*height: 30px;
    position: fixed;
    display: inline-block;
    bottom: 20px;
    margin-left: 10%;

    margin-left: 21.5%;*/
}
.main-view .left-view .chat .btns{
    overflow: hidden;
    width: 100%;
    /*height: 20%;*/
    /*background: blue;*/
    position: relative;

    position: absolute;
    bottom: 0
}
.main-view .left-view .btns .actions{
    /*background: yellow;*/
    color: white;
    height: 30px;
    line-height: 30px;
    width: 93.5%;
    display: flex;
    justify-content: flex-end;
    padding-right: 6.5%;
    margin-bottom: 15px;
    margin-top: 8px;
}
.main-view .left-view .btns .actions .option{
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-left: 5px;
}
.main-view .left-view .btns .actions .option.unselect{
    color: rgb(250, 80, 131);
    background: white;
}
.main-view .left-view .btns .actions .option.select{
    background: rgb(250, 80, 131);
    color: white;
}
.main-view .left-view .btns .actions .btn-wx-auth{
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(250, 80, 131);
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.main-view .left-view .btns .help{
    height: 30px;
    display: block;
    margin-left: 85%;
    margin-bottom: 8px;
}

.sep-line{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #a6a6a6;
    height: 40px;
    line-height: 40px;
}
.sep-line .line{
    width: 90%;
    background-image: url(../../images/line.png);
    background-size: 100%;
    background-position: center;
    height: 1px
}
.sep-line .title{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    background: red;
    background: rgb(229, 230, 231);
}

/*练习区*/
.main-view .right-view{
	width: 60%;
	background-color: rgb(229, 230, 231);
	border: solid 1px rgb(205, 206, 207);
	border-radius: 5px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    width: 70%;
}
.main-view .right-view img{
	width: 100px;
}
.main-view .right-view iframe{
	width: 100%;
	height: 100%;
	display: none;
}

.wx-code{
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    position: fixed;
    background: transparent;
    /*width: 100%;
    height: 100%;
    top: 0;
    left: 0;*/
    display: none;
}
.wx-code iframe{
    width: 100%;
    height: 100%;
}
@CHARSET "utf-8";  
.impowerBox .qrcode { width: 80px; height: 80; margin-top: 15px; border: 1px solid #E2E2E2;} 



/*左边飞入动画*/
@keyframes lefteaseinAnimate {
   0% {
      transform: translateX(-2000px);
      opacity: 0;
   }
   /*在0%时设置文字在想X轴-2000px位移处（左边），透明度为0，也就是看不见文字*/
   100% {
      transform: translateX(0px);
      opacity: 1;
   }
   /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}

@-webkit-keyframes lefteaseinAnimate {
   0% {
      -webkit-transform: translateX(-2000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
   }
}

@-o-keyframes lefteaseinAnimate {
   0% {
      -webkit-transform: translateX(-2000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
   }
}

@-ms-keyframes lefteaseinAnimate {
   0% {
      -webkit-transform: translateX(-2000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
   }
}

@-moz-keyframes lefteaseinAnimate {
   0% {
      -webkit-transform: translateX(-2000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
   }
}

.left-animation{
   animation: lefteaseinAnimate 1s ease 1;
   /*调用已定义好的动画lefteaseinAnimate，全程运行时间1S，进入的速度曲线为ease，只播放一次*/
   -webkit-animation: lefteaseinAnimate 1s ease 1;
   -ms-animation: lefteaseinAnimate 1s ease 1;
   -o-animation: lefteaseinAnimate 1s ease 1;
   -moz-animation: lefteaseinAnimate 1s ease 1;
   /*规定动画的最后状态为结束状态*/
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
   -o-animation-fill-mode: forwards;
   -ms-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
}

/*底部进入动画*/
@keyframes bottomeaseinAnimate {
   0% {
      transform: translateY(calc(100% + 40px));
      opacity: 0;
   }
   /*在0%时设置文字在想X轴-2000px位移处（左边），透明度为0，也就是看不见文字*/
   100% {
      transform: translateY(0);
      opacity: 1;
   }
   /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}

@-webkit-keyframes bottomeaseinAnimate {
   0% {
      -webkit-transform: translateY(calc(100% + 40px));
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      opacity: 1;
   }
}

@-o-keyframes bottomeaseinAnimate {
   0% {
      -webkit-transform: translateY(calc(100% + 40px));
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      opacity: 1;
   }
}

@-ms-keyframes bottomeaseinAnimate {
   0% {
      -webkit-transform: translateY(calc(100% + 40px));
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      opacity: 1;
   }
}

@-moz-keyframes bottomeaseinAnimate {
   0% {
      -webkit-transform: translateY(calc(100% + 40px));
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      opacity: 1;
   }
}
.bottom-animation{
	animation: bottomeaseinAnimate 1s ease 1;
   /*调用已定义好的动画lefteaseinAnimate，全程运行时间1S，进入的速度曲线为ease，只播放一次*/
   -webkit-animation: bottomeaseinAnimate 1s ease 1;
   -ms-animation: bottomeaseinAnimate 1s ease 1;
   -o-animation: bottomeaseinAnimate 1s ease 1;
   -moz-animation: bottomeaseinAnimate 1s ease 1;
   /*规定动画的最后状态为结束状态*/
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
   -o-animation-fill-mode: forwards;
   -ms-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
}



