html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
    min-width: 960px;
    background-color: #ffecf0;
}
/*顶部状态*/
.header{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
    background: rgb(250, 80, 131);
    width: 900px;
    height: 50px;
    padding: 0 -webkit-calc((100% - 900px) / 2);
    padding: 0 -moz-calc((100% - 900px) / 2);
    padding: 0 -o-calc((100% - 900px) / 2);
    padding: 0 calc((100% - 900px) / 2);
    font-size: 12px;
    color: white;
    font-size: 15px;
}
@media (min-width: 1500px) {
    .header{
        width: 1100px;
        padding: 0 -webkit-calc((100% - 1100px) / 2);
        padding: 0 -moz-calc((100% - 1100px) / 2);
        padding: 0 -o-calc((100% - 1100px) / 2);
        padding: 0 calc((100% - 1100px) / 2);
    }
}
@media (min-width: 1900px) {
    .header{
        width: 1400px;
        padding: 0 -webkit-calc((100% - 1400px) / 2);
        padding: 0 -moz-calc((100% - 1400px) / 2);
        padding: 0 -o-calc((100% - 1400px) / 2);
        padding: 0 calc((100% - 1400px) / 2);
    }
}
.header .left-view{
	display: flex;
	flex: 1;
}
.header .middle-view{
    display: flex;
    flex: 1;
}
.header .left-view .right-line{
    border-right: solid 1px white;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-flex;
    margin-top: 3px;
    margin-bottom: 3px;
}
.header .left-view .logo2{
    cursor: pointer;
}
.header .left-view>span{
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 20px;
	margin-left: 30%;

    display: inline-flex;
    align-items: center;
}
.header .middle-view .msg img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding-right: 5px;
}
.header .right-view{
	display: flex;
	flex: 1;
	flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.header .middle-view>span, .header .left-view>span{
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 20px;
	margin-right: 10px;
    display: inline-flex;
    align-items: center;
}
.header .right-view .luntan{
    display: inline-block;
    padding: 5px 5px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #fff;
    color: rgb(250, 80, 131);
    cursor: pointer;
    font-size: 13px;
}
.header .right-view .msg img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding-right: 5px;
}
.header .right-view .icon1,
.header .right-view .icon2,
.header .right-view .icon3,
.header .right-view .icon4{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 6%
}

.header .right-view .icon1>img,
.header .right-view .icon2>img,
.header .right-view .icon3>img{
	height: 15px;
	margin-right: 5px;

    height: 20px;
}
.header .right-view .icon4>img{
    height: 20px;
    width: 20px;

    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.header .right-view .avatar{
   margin-right: 2%;
}
.header .right-view .zuan.icon3{
    margin-left: 5%;
}
.header .right-view .zuan.icon3>img{
    margin-right: 2px;
}
.header .right-view .info-view{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.header .right-view .info-view .info{
    margin-bottom: 2%;
}
.header .right-view .info-view .info .grade{
    margin-right: 15px;
    margin-right: 5%;
}
.header .right-view .progress{
    background: white;
    height: 7px;
    position: relative;
}
.header .right-view .progress img{
    position: absolute;
    left: 0; 
    top: 0; 
    width: 58.5%;
    height: 100%;
}
.header .right-view .quit{
    cursor: pointer;
}
.header .right-view .item{
    display: none;
}
/*团队成员等级*/
.team-info{
    position: absolute;
    z-index: 100000;
    background: rgb(229, 230, 231);
    top: 50px;
    color: #1a1a1a;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    line-height: 30px;
    left: 61%;
    font-size: 13px;
    top: 38px;
    display: none;
}
.team-info .team{
    background: white;
    padding: 0 15px;
    margin-bottom: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.team-info .teams-brand{
    padding: 0 15px;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.team .member{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #696969;
    font-size: 12px;
}
.team .member .member-name{
    display: flex;
    align-items: center;
}
.team .member-name img.avatar {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.team .member span.name {
    width: 145px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 15px;
}
.team .arrow{
    position: absolute;
    height: 9px;
    top: -9px;
    left: 50%;
}
.team-brand{
    display: flex;
    align-items: center;
}
.team-brand .name{
    width: 145px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 30px;
}
.team-brand .zn{
    display: inline-flex;
    align-items: center;
}
.team-brand .zn .zuan{
    margin-right: 2px;
    width: 12px;
}
/*主要界面*/
.main-view{
    width: 900px;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #fff;
}
@media (min-width: 1500px) {
    .main-view{
        width: 1100px;
    }
}
@media (min-width: 1900px) {
    .main-view{
        width: 1400px;
    }
}

.main-view .save-table{
    margin: 0 45px;
    min-height: 100px;
    padding: 30px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    background-color: #f3f3f3;
}
.main-view .save-table .table-title{
    display: inline-block;
    width: 70px;
    margin-top: 5px;
}
.main-view .save-table .work-name, .main-view .save-table .upload-img{
    margin: 15px 0;
}
.main-view .save-table .work-name-input{
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -o-calc(100% - 80px);
    width: calc(100% - 80px);
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.main-view .save-table .work-detail-textarea{
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -o-calc(100% - 80px);
    width: calc(100% - 80px);
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.work-detail-title{
    margin-top: 5px;
}
.main-view .save-table .upload-div{
    display: inline-block;
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -o-calc(100% - 80px);
    width: calc(100% - 80px);
    vertical-align: top;
}
#upload-container{
    min-height: 60px;
    width: 100%;
    padding: 15px 0;
}
.main-view .save-table .submit{
    padding: 30px 70px;
}
.main-view .save-table .submit .btn{
    margin-right: 10px;
    padding: 6px 25px;
    border-radius: 3px;
    background-color: #ddd;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.main-view .save-table .submit .submit-btn{
    background-color: rgb(250, 80, 131);
    color: #fff;
}
.main-view .upload-div .click{
    padding: 6px 11px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.main-view .upload-loading{
    display: none;
}
#layui-input2{
    max-width: 100%;
}

/*登录视图*/
.login-view .close{
    width: 35%;
    background: #ff6b95;
    height: 35px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}
.login-view .close img{
    position: absolute;
    right: 10px;
}
.login-view .login-info{
    width: 31%;
    background: #efefef;
    padding: 1% 2%;
}
.login-info .login-info-view{
    border: dashed 1px #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.login-info .info{
    padding: 10px;
    color: #525252;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.login-info .wx-code{
    width: 80px;
    height: 80px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.login-info .wx-code img{
    width: 100%;
}
.login-view .account-view{
    width: 35%;
    background: #efefef;
    /*height: 40%;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.login-view .account-view .username,
.login-view .account-view .password{
    width: 80%;
    /*background: blue;*/
    height: 20%;
    margin-bottom: 5%;
    margin-top: 5%;

    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login-view .account-view .password{
    margin-top: 0;
}
.username span,
.password span{
    margin-right: 10px;
    letter-spacing: 2px;
    color: #616161;

    width: 60px;
    display: inline-block;
}
.username input,
.password input{
    width: 75%;
    height: calc(100% - 12px);
    border:solid 1px #b7b7b7;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;

    width: calc(100% - 70px);
}
.login-view .account-view .login{
    padding: 5px 16px;
    background: #ff6b95;
    border-radius: 5px;
    color: white;
    border: solid 1px #e56c95;
    margin-bottom: 15px;
    cursor: pointer;
}

.login-shadow-view{
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    display: none;
}
.login-shadow-view .login-view{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
/*登录视图*/
